* {
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: 30px auto;
    text-align: center;
}

#btn {
    margin: 10px;
}

.container {
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 100%;
    display: flex;
}

.square {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}